In [11]:
import time
import numpy as np
import datetime
import pandas as pd
#considering as a parent class
class Company():
    def __init__(self,company,student_id,batch_id,name,phone_number,email_id):
        self.company=company
        self.student_id=student_id
        self.batch_id=batch_id
        self.name=name
        self.__phone_number=phone_number
        self.__email_id=email_id
    def get_email(self):
        return self.__email_id
    def get_phone(self):
        return self.__phone_number
    def set_email_id(self,email_id):
        self.__email_id=email_id
    def set_phone_number(self,phone_num):
        self.__phone_number=phone_num
    @staticmethod
    def welcome_mesage(name):
        print("----------------------")
        print(f"Welcome {name} , Explore the Futurense MIS portal")
        print("----------------------")
        time.sleep(2)
        
        
        
#considering as a child class
        
class report_card(Company):
    def __init__(self,company,student_id,batch_id,name,phone_number,email_id,marks):
        super().__init__(company,student_id,batch_id,name,phone_number,email_id)

        self.marks=marks
    def generate_progress_card(self):
        self.percentage={}
        for i in sorted(self.marks):
            self.percentage[i]=(self.marks[i][0]/self.marks[i][1])*100
        self.current_time = datetime.datetime.now()
    def display_progress_card(self):
        arr_total=[]
        print(f"Progress Card Generated on {self.current_time}")
        print("Student Name : ", self.name)
        print("Student Id :", self.student_id)
        for i in sorted(self.percentage):
            val_per="%0.2f"%(self.percentage[i])
            print(f"Test_name:{i} Percentage Score:{val_per}")
            arr_total.append(float(val_per))

        arr_total = np.array(arr_total)
        avg_percentage = np.mean(arr_total)
        max_percentage = np.max(arr_total)
        min_percentage = np.min(arr_total)

        print(f"Performance Score (out of 100) :",avg_percentage)
        print(f"Best Score :",max_percentage)
        print(f"Least Score : ",min_percentage)
        print("------------------------------")
        time.sleep(2)
        return (self.name,avg_percentage,max_percentage,min_percentage,pd.datetime.now().date())

In [12]:
#arrya of objects
student_detials=[("Futurense","FT-376","F11","subhash","9442699741","smsubhashrasi@futurense.com",
                     {'test_id_1':[20,30],'test_id_2':[44,45],'test_id_3':[30,45]}),
                 ("Futurense", "FT-456", "F11", "Vaibhav", "8835679606", "excel_vaibhav@futurense.com",
                  {'test_id_1': [25, 30], 'test_id_2': [45, 45], 'test_id_3': [40, 45]})
                 ]

In [3]:
print("Enter u r name:")
name=input()
Company.welcome_mesage(name)

obj_ref=[]
details=[]
for i in range(len(student_detials)):
    obj_ref.append(report_card(*student_detials[i]))
    obj_ref[i].generate_progress_card()
    detail=obj_ref[i].display_progress_card()
    details.append(detail)

Enter u r name:
subhash
----------------------
Welcome subhash , Explore the Futurense MIS portal
----------------------
Progress Card Generated on 2022-05-16 14:40:36.188814
Student Name :  subhash
Student Id : FT-376
Test_name:test_id_1 Percentage Score:66.67
Test_name:test_id_2 Percentage Score:97.78
Test_name:test_id_3 Percentage Score:66.67
Performance Score (out of 100) : 77.04
Best Score : 97.78
Least Score :  66.67
------------------------------

C:\Users\FUTURE~1\AppData\Local\Temp/ipykernel_21872/2812620086.py:58: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  return (self.name,avg_percentage,max_percentage,min_percentage,pd.datetime.now().date())

Progress Card Generated on 2022-05-16 14:40:38.192853
Student Name :  Vaibhav
Student Id : FT-456
Test_name:test_id_1 Percentage Score:83.33
Test_name:test_id_2 Percentage Score:100.00
Test_name:test_id_3 Percentage Score:88.89
Performance Score (out of 100) : 90.74
Best Score : 100.0
Least Score :  83.33
------------------------------

In [4]:
df = pd.DataFrame(details, columns =['Student_name','Peformance Score','Best Score','Least Score','Report Generated Time'])
print(df)

  Student_name  Peformance Score  Best Score  Least Score  \
0      subhash             77.04       97.78        66.67
1      Vaibhav             90.74      100.00        83.33

  Report Generated Time
0            2022-05-16
1            2022-05-16

In [5]:
df.to_csv("Progress_Report.csv")

In [10]:
#pandas functions

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Student_name           2 non-null      object
 1   Peformance Score       2 non-null      float64
 2   Best Score             2 non-null      float64
 3   Least Score            2 non-null      float64
 4   Report Generated Time  2 non-null      object
dtypes: float64(3), object(2)
memory usage: 208.0+ bytes

In [14]:
df.describe()

       Peformance Score  Best Score  Least Score
count          2.000000    2.000000     2.000000
mean          83.890000   98.890000    75.000000
std            9.687363    1.569777    11.780399
min           77.040000   97.780000    66.670000
25%           80.465000   98.335000    70.835000
50%           83.890000   98.890000    75.000000
75%           87.315000   99.445000    79.165000
max           90.740000  100.000000    83.330000