In [1]:
#len to count number of char including spaces

In [2]:
var='dhoni mssd'
dir(var)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
var="dhoni",'msd'
print(var)

('dhoni',)

In [5]:
var="dhoni",
print(var)

('dhoni',)

In [8]:
var="dhoni"'csk'  #start end double code and starting another single quotes so its a string
var

'dhonicsk'

In [9]:
var="dhoni'csk"  #start end double code and starting another single quotes so its a string
var

"dhoni'csk"

In [25]:
var="dhoni \
csk"

In [26]:
var

'dhoni csk'

In [32]:
path=r"c:\newfolder\testing.txt"
path
#r--raw data, carraige return

'c:\\newfolder\\testing.txt'

In [33]:
string_input="my captain %s plays at a age : %d"%("dhoni",33)
string_input

'my captain dhoni plays at a age : 33'

In [34]:
name='dhoni'
age=33
string_input=f"my captain {name} plays at a age :{age}"
string_input

'my captain dhoni plays at a age :33'

In [35]:
#attribute magic or deunder
#__iter__ a loop that happens one after the other (hold the state of the travellled letter)
for x in "subhash":
    print(x,end='')
    #__next__

In [39]:
name="dhoni"
name1="kolhi"
#zip-->wprks for sequnrtial data lis,tuple,str etc
for x,y in zip(name,name1):
    print(x,y)

d k
h o
o l
n h
i i

# generator

In [46]:
name="dhoni"
name1="kolhi"
output=iter(name) # same as for looop does
output

In [47]:
next(output)

'd'

In [48]:
next(output)

'h'

In [52]:
name="dhoni"
name1="kolhi"
output=list(iter(zip(name,name1))) # same as for looop does
output

[('d', 'k'), ('h', 'o'), ('o', 'l'), ('n', 'h'), ('i', 'i')]

In [53]:
name=["dhoni"]
name1=["kolhi"]
output=list(iter(zip(name,name1))) # same as for looop does
output

[('dhoni', 'kolhi')]

In [54]:
#iter(takes 1 input to ber iterated similar to for loop)

In [56]:
var="dhoni is my captain"
#enum is used to return data with the index
for index,data in enumerate(var):
    print(index,data)

0 d
1 h
2 o
3 n
4 i
5
6 i
7 s
8
9 m
10 y
11
12 c
13 a
14 p
15 t
16 a
17 i
18 n

In [59]:
var="dhoni is my captain"         #if i doenst req any aprmteter then we can skip that by putting undersocre so we can save memory
#enum is used to return data with the index
for index,_ in enumerate(var):
    print(index)
# in index data is stored for all letters 
# in _ it sotres all char in same object no different object for all char

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [61]:
#literals of memory dosnet occupy memory in python  _

In [66]:

for i in range(1,10,-1):
    print(i)

In [68]:
val=xrange(1,10)
print(val)

NameError: name 'xrange' is not defined

In [81]:
import random
start=1
stop=50
step=2
val=random.randrange(start, stop,step)
print(val)
val2=random.randrange(start, stop,step)
print(val2)

5
35

In [82]:
#range vs xrange

In [ ]:
random.randrange